/* DashboardScreen.module.css */

.dashboardLayout {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  height: -webkit-fill-available;
  height: 100dvh;
  width: 100%;
  max-width: 100%;
  /* justify-content: space-between; foi REMOVIDO para permitir que o .mainContent cresça */
}

.mainContent {
  flex-grow: 1; /* Adicionado para fazer o conteúdo principal preencher o espaço disponível */
  overflow-y: auto; 
  overscroll-behavior-y: contain; 
}

.footerNav {
  /* O rodapé agora fica naturalmente na parte inferior porque o .mainContent empurra-o para lá */
  width: 100%;
  z-index: 1000;
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
  padding-bottom: var(--safe-bottom);
}
