/* ActiveFocusScreen.module.css */

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1; /* Faz o conteúdo ocupar o espaço disponível */
    display: flex;
    flex-direction: column;
}

.tipContainer {
    padding: 0 var(--sp-lg) var(--sp-lg);
    text-align: center;
}
