
.installButton {
  /* Adiciona estilos se necessário, por exemplo, para destacar o botão */
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}
